*{
    margin: 0;
    padding: 0;
}
body{
    width:100%;
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width:60%;
    height: 75%;
    background-color: white;
    border-radius: 9px;
    box-shadow: 2px 2px 5px rgb(235, 232, 232);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    box-sizing: border-box;
}
.left{
    width: 30%;
    height: 100%;
    background-image: url('./bg-sidebar-desktop.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;

}
.steps{
    margin: auto;
    margin-top:6% ;
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.step{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
    color: white;
}
.round{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items:center ;
    font-size: 11px;
}
.selected{
    background-color: aqua;
    color: black;
    border: none;
}
.title1{
    color:silver;
    font-size: 11px;
    font-family: monospace;
}
.title2{
    color: white;
    font-size: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.right{
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.head{
    padding-top: 5%;
    width: 70%;
}
.head h1{
    color: navy;
    font-size: 20px;
}
.head p{
    color: gray;
    font-size: 12px;
}
form{
    width:70%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}
.maindiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:15px;
}
.formdiv{
    width:100%;
    display: flex;
    flex-direction: column;
    gap:5px;
}
label{
    color: navy;
    font-size: 12px;
}
input{
    width: 95%;
    padding: 8px;
    border-radius: 4px;
    font-size: 10px;
    border: 1px solid rgb(228, 223, 223);
}
.next{
    padding: 3% 5%;
    font-size: 10px;
    color: white;
    background-color: navy;
    border-radius: 4px;
    border: none;
}